.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.experience__date {
  font-weight: 100;
  font-size: .7em;
  color: #B2B6B7;
  letter-spacing: 1px;
}

.experience__header {
  font-size: 0.7em;
  color: #B2B6B7;
  letter-spacing: 1px;
}

.experience__title {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;
  color: #1F1F1F;
}

.experience__comp {
  line-height: 1.5;
  font-weight: 700;
  font-size: 1em;
  color: #1F1F1F;
}
