.skills__head {
  padding-bottom: 20px !important;
}

.skills__title {
  font-size: .7em;
  color: #B2B6B7;
  letter-spacing: 1px;
}

.skills__desc__title {
  line-height: 3;
  font-weight: bold;
  font-size: 1em;
  color: #1F1F1F;
}

.skills_list {
  padding-top: 1em;
}
