<row class="rs-experience-info">
    <columns large="12">
        <h2>Experience</h2>
        <!-- Experience -->
        <row class="collapse">
          <columns large="12">
            <h3>BLVD</h3>
            <h3 class="light">March 2012 - Present</h3>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </columns>
        </row>
        <!-- Experience -->
        <row class="collapse">
          <columns large="12">
            <h3>Joystick Interactive</h3>
            <h3 class="light">July 2015 - March 2016</h3>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </columns>
        </row>
        <!-- Experience -->
        <row class="collapse">
          <columns large="12">
            <h3>Creative 4</h3>
            <h3 class="light">July 2012 - March 2014</h3>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </columns>
        </row>
        <!-- <row>
          <columns large="">

          </columns>
        </row> -->
    </columns>
</row>
