<row class="rs-experience-info">
    <columns large="12">
        <h2>Experience</h2>
        <div class="spacer" style="height: 10px;"></div>
        <!-- Experience -->
        <row class="collapse">
          <columns large="12">
            <h3>Information Boulevard</h3>
            <h2>UI/UX Designer</h2>
            <h3 class="light">March 2016 - Present</h3>
            <p class="description">Rethinking and modernising the mortgage process and a few other projects, making the UI easy and accessible to anyone and providing a better solution / interface for the target users.
Interface, Interaction and UX design, Web and Mobile design, Branding.</p>
          </columns>
        </row>
        <!-- Experience -->
        <row class="collapse">
          <columns large="12">
            <h3>Joystick Interactive</h3>
            <h2>Interaction Developer</h2>
            <h3 class="light">July 2015 - March 2016</h3>
            <p class="description">Clients include amongst others: BMW, Mcdonnals, Microsoft, L’oréal, Ted Cruz
Lucky Charms, Rimmel London, Birdback, Questionmark, Soocial, KPN and Delta Lloyd. Interaction and UX design, Front-end development.</p>
          </columns>
        </row>
        <!-- Experience -->
        <row class="collapse">
          <columns large="12">
            <h3>Korea IT Volunteers</h3>
            <h2>Technical Interpreter (Volunteer)</h2>
            <h3 class="light">Summer 2013</h3>
            <p class="description">Worked as a volunteer Interpreter (English - Spanish) for a Student exchange program, assisting Korean Volunteers on their classes such as iOs and Web Development. Interpreter, Leadership, Development.</p>
          </columns>
        </row>
        <!-- <row>
          <columns large="">

          </columns>
        </row> -->
    </columns>
</row>
