<container>
<row>
  <columns class="padding-bottom-20">
    <p class="experience__header">WORK EXPERIENCE</p>
  </columns>
</row>

<row class="">
    <columns small="12" large="12">

        <row class="collapse">
          <columns large="12">
            <row class=" collapse">
              <columns large="8" class="experience padding-bottom-20">
                <p class="experience__comp">Information Boulevard. —</p>
                <p class="experience__title">UI/UX Designer</p>
              </columns>
              <columns large="4" class="experience padding-bottom-20">
                <h3 class="experience__date text-right light">March 2016 - Present</h3>
              </columns>
            </row>
            <p class="description">Rethinking and modernising the mortgage process and a few other projects, making the UI easy and accessible to anyone and providing a better solution / interface for the target users.</p>
            <p class="description light">Interface, Interaction and UX design, Web and Mobile design, Branding.</p>
          </columns>
        </row>

        <row class="collapse">
          <columns large="12">
            <row class=" collapse">
              <columns large="8" class="experience padding-bottom-20">
                <p class="experience__comp">Joystick Interactive. —</p>
                <p class="experience__title">Interaction Developer</p>
              </columns>
              <columns large="4" class="experience padding-bottom-20">
                <h3 class="experience__date light text-right">July 2015 - March 2016</h3>
              </columns>
            </row>
              <p class="description">Clients include amongst others: BMW, Mcdonnals, Microsoft, L’oréal, Ted Cruz Lucky Charms and Rimmel London.</p>
              <p class="description light">Interaction and UX design, Front-end development.</p>
          </columns>
        </row>

        <row class="collapse">
          <columns large="12">
            <row class="collapse">
              <columns large="8" class="experience padding-bottom-20">
                <p class="experience__comp">Korea IT Volunteers. —</p>
                <p class="experience__title">Technical Interpreter (Volunteer)</p>
              </columns>
              <columns large="4" class="experience padding-bottom-20">
                <h3 class="experience__date text-right light">Summer 2013</h3>
              </columns>
            </row>

            <p class="description">Worked as a volunteer Interpreter (English - Spanish) for a Student exchange program, assisting Korean Volunteers on their classes such as iOs and Web Development.</p>
            <p class="description light">Interpreter, Leadership, Development.</p>
          </columns>
        </row>
        <spacer size="1" class="spacer"></spacer>
    </columns>
</row>
</container>
