<container class="">

    <row>
        <columns small="12" large="6" >
          <p class="small__header">ELSEWHERE</p>
          <p><a href="#">- Designing from scratch or not?</a></p>
          <p><a href="#">- Illustrations on behance</a></p>
        </columns>
        <columns small="12" large="6" >
          <p class="small__header">CONTACT</p>
          <p><a target="_blank" href="mailto:rafaelmedina@outlook.com">- Email</a></p>
          <p><a target="_blank" href="https://github.com/zxhadow">- Github</a></p>
          <p><a target="_blank" href="https://www.linkedin.com/in/rafaelmedinareyna">- Linkedin</a></p>
          <p><a target="_blank" href="https://github.com/zxhadow">- This rap</a></p>
        </columns>
    </row>


    <row>
      <columns small="12" large="12" class="padding-bottom-0">
        <p class="text-center close">&times;</p>
      </columns>
    </row>
    <row>
      <columns small="12" large="12">
        <p class="text-center bold">THE END</p>
      </columns>
    </row>

</container>
