<container class="rs-footer">
    <row class="rs-footer-table">
        <columns large="4" small="4">
          <h2>Skills</h2>
          <p>HTML, CSS, JS</p>
          <p>Sketch</p>
          <p>Illustration</p>
          <p>Git</p>
          <p></p>
        </columns>
        <columns large="6" small="6">
          <h2>Contact</h2>
          <p><a href="mailto:rafaelmedina@outlook.com">Email</a></p>
          <p><a href="https://github.com/zxhadow">Github</a></p>
          <p><a href="https://www.linkedin.com/in/rafaelmedinareyna">Linkedin</a></p>
        </columns>
    </row>
</container>
