<container>
    <row class="heading">
      <columns large="12"  small="12" class="">
          <!-- <div class="heading__box"></div> -->
          <h2 class="heading__title">Rafael Medina. —</h2>
          <p class="heading__subtitle">Designer</p>
      </columns>

    </row>

    <row class="">
      <columns large="12" small="12" class="">
        <p class="heading__desc">
          I create interfaces for people,
           I like to understand the interfaces as much as I like to design them.
            In other words I research what makes people tick, create, break and fix things,
            give design purpose and wrangle with code.
        </p>
      </columns>
    </row>
    <row>
      <columns>
        <spacer size="1" class="spacer"></spacer>
      </columns>
    </row>
</container>
