<row>

  <columns class="padding-bottom-20">
    <p class="experience__header">PROJECTS & STUFF</p>
  </columns>
</row>
<row class="">
    <columns large="12">
        <row class="collapse">
          <columns large="12">
            <row class=" collapse">
              <columns large="8" class="experience padding-bottom-20">
                <p class="experience__comp">Perfil —</p>
                <p class="experience__title">UI/UX, Mobile, Android, Material Design</p>
              </columns>
            </row>
            <p class="description">iProfile its a project oriented to managers in the mortgage industry, so they can see
their subordinates closes, goals and overall perfomance and then take action from there
to get more stats and then increase the revenue of the business. <a href="#">SEE MORE</a></p>
          </columns>
        </row>


        <row class="collapse">
          <columns large="12">
            <row class=" collapse">
              <columns large="8" class="experience padding-bottom-20">
                <p class="experience__comp">Cobblestone. —</p>
                <p class="experience__title">UX, Web Design, Illustration</p>
              </columns>
            </row>
            <p class="description">Cobblestone was an API format converter for mortgage applications that
              solved by transforming their forms input data into every data storage format. <a href="#">SEE MORE</a></p>
          </columns>
        </row>


        <row class="collapse">
          <columns large="12">
            <row class=" collapse">
              <columns large="8" class="experience padding-bottom-20">
                <p class="experience__comp">Unicorn. —</p>
                <p class="experience__title">UI/UX, Mobile, Animation</p>
              </columns>
            </row>
            <p class="description">Unicorn works as an interactive form with geo maps and digital signature to
              get your loan information and have it printed quickly and make it a pleasurable experience. <a href="#">SEE MORE</a></p>
          </columns>
        </row>
        <spacer size="1" class="spacer"></spacer>
    </columns>
</row>
