<container>

  <row>
      <columns large="12" class="skills__head">
        <p class="skills__title">EXPERTISE & SKILLS</p>
      </columns>
  </row>

  <row class="skills__section">
    <columns large="6">
      <p class="skills__desc__title">User Experience Design</p>
      <p>
        Inventing effective ways for
        people to experience and
        interact with products.
      </p>
    </columns>
    <columns large="6" class="skills_list">
      <p>
        - Interaction Design</br>
        - Wireframing and Prototyping</br>
        - Product Design</br>
        - Research
      </p>
    </columns>
  </row>


  <row class="skills__id">
    <columns large="6">
      <p class="skills__desc__title">Interface design</p>
      <p>
        Designing simple, innovative
        and user-friendly solutions
        for web and mobile.
      </p>
    </columns>
    <columns large="6" class="skills_list">
      <p>
       - Sketch</br>
       - Photoshop & Illustrator</br>
       - Git</br>
       - sad
      </p>
    </columns>
  </row>

  <row class="rs-education-info">
    <columns large="6">
      <p class="skills__desc__title">Front-end development</p>
      <p>
        <p>
          Developing and prototyping
          responsive websites and web
          applications.
        </p>
    </columns>
    <columns large="6" class="skills_list">
      <p>
        - Responsive Design</br>
        - HTML (Jade)</br>
        - CSS (SASS)</br>
        - Javascript
      </p>
    </columns>
  </row>

  <row>
    <columns>
      <spacer size="1" class="spacer"></spacer>
    </columns>
  </row>
</container>
